.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    position: fixed; /* اجعل العنصر في وضع ثابت ليتجاوز التدفق العادي للصفحة */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* لتوسيط العنصر أفقياً وعمودياً */
    background: rgb(57, 57, 57);
    padding: 20px;
    z-index: 10001; /* قيمة أعلى من النيف بار */
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
  }
  